html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Playfair Display", "Times New Roman", serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    background-color: #ffffff;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    text-transform: uppercase;
    text-decoration: none;
}

.site-navigation a:hover {
    color: #03a9f4;
}

.content-list {
    list-style: none;
}

.content-list-name {
    font-family: "Ubuntu", sans-serif;
    color: #b4ad9e;
    line-height: 17px;
    font-weight: 300;
    text-transform: uppercase;
}

.content-list-title {
    font-size: 30px;
    line-height: 36px;
}

button {
    font-size: 20px;
}

button:hover {
    color: #03a9f4;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space:nowrap;
    clip-path:inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}
