html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.wrapper {
    width: 1110px;
    margin: 0 auto;
    background-color: pink;
}

/* PEGE-HEADER */
.page-header {
    margin-bottom: 67px;
}

.page-nav {
    padding: 38px 0px;
}

.site-logo {
    display: inline-block;
    margin: 0;
    font-size: 30px;
    line-height: 32px;
}

.site-logo a {
    display: inline-block;
    color: #555252;
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.site-logo a::first-letter {
    color: #1abc9c;
    font-weight: 900;
}

.site-navigation {
    float: right;
    margin: 0;
    padding: 14px 0px;
    font-size: 14px;
    line-height: 11px;
    list-style: none;
}

.site-navigation-item {
    display: inline-block;
}

.site-navigation a {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    color: #0f0101;
    padding: 0px 16px;
    font-size: 14px;
    line-height: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background-color: teal;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}

/* FEATURED-PRODUCTS */
.featured-products {
    margin-bottom: 105px;
    line-height: 32px;
    text-transform: uppercase;
}

.featured-products-title {
    margin: 0;
    color: #515151;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}
.featured-products-title::after {
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 92px;
    content: "";
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
}

.featured-products-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.featured-products-list-item {
    float: left;
    width: 255px;
}

.featured-products-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.featured-products-list-item:not(:nth-last-child(-n+4)) {
    margin-bottom: 30px;
}

.featured-products-list-name {
    margin: 0;
    padding-left: 14px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    background-color: #323232;
    height: 40px;
}

.featured-products-list-name::after {
    float: right;
    content: "$26";
    width: 54px;
    height: 40px;
}

.featured-products-list-item a {
    display: inline-block;
    color: #ffffff;
    width: 255px;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
}

/* LATEST-NEWS */
.latest-news {
    color: #555252;
    padding-bottom: 82px;
}

.latest-news-title {
    margin: 0;
    font-size: 48px;
    line-height: 32px;
    font-weight: 900;
    text-align: center;
}

.latest-news-title::after {
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 80px;
    content: "";
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
}

.latest-news-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.latest-news-list-item {
    float: left;
    width: 350px;
}

.latest-news-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.news {
    font-family: "Open Sans", sans-serif;
    line-height: 26px;
}

.news-image {
    margin-bottom: 15px;
}

.news-title {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
}

.news-title::after {
    display: block;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 30px;
    content: "";
    width: 136px;
    height: 3px;
    background-color: #4ec6ab;
}

.news-about {
    margin: 0;
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 14px;
}

.read-more {
    display: block;
    margin: 0;
    padding: 0;
    width: 160px;
    height: 52px;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    background-color: #4ec6ab;
    border: 1px solid #4ec6ab;
}

.read-more:hover,
.read-more:focus {
    background-color: #323232;
}